.weather {
  width: 300px;
  border-radius: 6px;
  /* box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, 0.047); */
  color: aliceblue;
  background-color: rgba(51, 51, 51, 0.578);
  /* margin: 0 auto 0 auto; */
  padding: 20px 20px 20px;
  /* float: right; */
  height: 320px;
  align-self: flex-end;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.622);
}

.city {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1;
  margin: 10px 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
}
.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
  /* margin-bottom: 10px; */
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 240;

  display: flex;
  align-items: center;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid rgb(249, 249, 249);
  margin-bottom: 5px;
  font-size: 0.9rem;
}
